exportClass(desirability, distr, distrCollection, facDesign, desOpt)

exportPattern("^[^\\.]")

import(graphics)

                                                                                      